 .u-section-1 {
  min-height: 972px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 1px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 971px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 23px auto 0;
  padding: 1px 29px 2px 27px;
}

.u-section-1 .u-line-1 {
  transform-origin: left center 0px;
  width: 267px;
  margin: 30px auto 0 0;
}

.u-section-1 .u-list-1 {
  width: 229px;
  margin: 42px auto 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 195px;
}

.u-section-1 .u-list-item-1 {
  transition-duration: 0.5s;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 1.25rem;
  transition-duration: 0.5s;
  font-weight: normal;
  letter-spacing: normal;
  text-transform: none;
  margin: 0 auto 0 40px;
  padding: 0;
}

.u-section-1 .u-list-item-2 {
  transition-duration: 0.5s;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-size: 1.25rem;
  transition-duration: 0.5s;
  font-weight: normal;
  letter-spacing: normal;
  text-transform: none;
  margin: 0 auto 0 40px;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  background-image: none;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 971px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 37px 66px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: -61px 168px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 10px 178px 0 auto;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 37px auto 0 45px;
}

.u-section-1 .u-list-2 {
  width: 474px;
  margin: 18px auto 0;
}

.u-section-1 .u-repeater-2 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 116px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 10px;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  margin: 23px auto 0 19px;
}

.u-section-1 .u-group-1 {
  min-height: 56px;
  width: 44px;
  height: auto;
  margin: -21px 0 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-group-2 {
  min-height: 80px;
}

.u-section-1 .u-icon-4 {
  width: 33px;
  height: 33px;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  margin: -30px auto 0 10px;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 10px;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  margin: 23px auto 0 19px;
}

.u-section-1 .u-group-3 {
  min-height: 56px;
  width: 44px;
  height: auto;
  margin: -21px 0 0 auto;
}

.u-section-1 .u-container-layout-9 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-group-4 {
  min-height: 80px;
}

.u-section-1 .u-icon-5 {
  width: 33px;
  height: 33px;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  margin: -30px auto 0 10px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 110px auto 0;
}

.u-section-1 .u-form-1 {
  height: 204px;
  width: 718px;
  margin: 85px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  margin-left: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1100px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 801px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 801px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    min-height: auto;
  }

  .u-section-1 .u-icon-4 {
    padding: 0;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-group-4 {
    min-height: auto;
  }

  .u-section-1 .u-form-group-1 {
    height: 108px;
    margin: 19px 163px 0 81px;
  }

  .u-section-1 .u-form-group-2 {
    height: 108px;
    margin: 19px 163px 0 81px;
  }

  .u-section-1 .u-form-group-3 {
    height: 108px;
    margin: 19px 163px 0 81px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 174px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-line-1 {
    width: 228px;
  }

  .u-section-1 .u-list-1 {
    width: 228px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 39px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 39px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-1 .u-form-1 {
    width: 564px;
  }

  .u-section-1 .u-form-group-1 {
    margin-right: 72px;
    margin-left: 0;
  }

  .u-section-1 .u-form-group-2 {
    margin-right: 72px;
    margin-left: 0;
  }

  .u-section-1 .u-form-group-3 {
    margin-right: 72px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 127px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1 .u-form-group-1 {
    margin-right: 48px;
  }

  .u-section-1 .u-form-group-2 {
    margin-right: 48px;
  }

  .u-section-1 .u-form-group-3 {
    margin-right: 48px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-right: 106px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 112px;
  }

  .u-section-1 .u-list-2 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-form-group-1 {
    margin-right: 0;
  }

  .u-section-1 .u-form-group-2 {
    margin-right: 0;
  }

  .u-section-1 .u-form-group-3 {
    margin-right: 0;
  }
}

.u-section-1 .u-list-item-1,
.u-section-1 .u-list-item-1:before,
.u-section-1 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-1.u-list-item-1.u-list-item-1:hover:before {
  background-color: #adcce9 !important;
}

.u-section-1 .u-list-item-2,
.u-section-1 .u-list-item-2:before,
.u-section-1 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-2.u-list-item-2.u-list-item-2:hover:before {
  background-color: #adcce9 !important;
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-3,
.u-section-1 .u-btn-3:before,
.u-section-1 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}